@charset "utf-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
  box-sizing: border-box;
}

body {
  color: #333;
  min-width: 1000px;
}
.carousel-inner img{
    height: 90vh;
}
.inner {
  width: 1000px;
  margin: auto;
}
img{
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}
header {
  color: #fff;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ccc center / cover no-repeat;
}
section{
    width: 100%;
    padding: 80px 0;
}
section h2{
    margin-bottom: 2em;
}
section p {
    line-height: 1.8;
}
#first{
    width: 1000px;
    margin: auto;
    display: flex;
    background: url("../img/earth.jpg") left center no-repeat;  
}
#first .inner{
    width: 500px;
    margin-right: 0;
    margin-left: auto;
}
#first p{
    margin: 1em 0;
}
#second .inner,#third .inner{
    text-align: center;
}
#text-white{
    color: white;
}
#second p ,#third p{
    margin-bottom: 3em;
}
#second {
    padding-bottom: 0;
    background: black;
}
footer{
    background-color: black;
    text-align: center;
    padding: 13px 0;
    color: white;
}